@import '../../styles/main-style.scss';

.list {
  grid-column: center-start / center-end;

  @extend %sec-padding;

  &__content {
    &--empty {
      height: 60vh;
      display: flex;
      align-items: center;
      justify-content: center;

      &__content {
        font-size: font-size(medium);
      }
    }
  }
}
