@import '../../styles/main-style.scss';

div.circleBtn {
  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 3.5rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: solid 0.2rem rgba(0, 0, 0, 0.6);
  color: black;
  transition: all 0.25s cubic-bezier(1, 0, 0, 1);

  p.circleBtn__content {
    position: absolute;

    display: block;

    aspect-ratio: 1 / 1;
    font-size: 1.5rem;
    font-weight: font-weight(bold);
  }

  &:hover,
  &:active {
    transform: scale(1.02);
  }
}

div.circleBtn.noBorder {
  border: none;

  &:hover,
  &:active {
    background-color: transparent;
  }
}

div.circleBtn.rotate {
  img.circleBtn__content {
    transform: rotate(135deg);
    transition: all 0.25s cubic-bezier(1, 0, 0, 1);
  }

  &:hover,
  &:active {
    background-color: white;
    transform: scale(1.02);
  }
}
