@import '../../styles/main-style.scss';

div.circleBtn {
  position: relative;
  cursor: pointer;

  height: 3.5rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: solid 0.2rem rgba(0, 0, 0, 0.6);
  color: black;

  transition: all 0.25s cubic-bezier(1, 0, 0, 1);

  &:hover,
  &:active {
    background-color: rgba(0, 0, 0, 1);
    color: white;
  }

  p.circleBtn__content {
    text-align: center;
    font-size: 1.75rem;
    font-weight: font-weight(medium);
  }
}

div.circleBtn.noBorder {
  border: none;

  &:hover,
  &:active {
    background-color: transparent;
  }
}
