.todolist {
  grid-column: center-start / center-end;

  @extend %sec-padding;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--contents {
      display: flex;
      align-items: center;

      gap: 2rem;

      &__title {
        @extend %sec-heading;
      }

      &__trailler {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        font-size: font-size(small);
        font-weight: font-weight(bold);

        border: solid 0.2rem black;
        border-radius: 50%;
        width: 4rem;
        aspect-ratio: 1 / 1;
        transition: all 0.25s cubic-bezier(1, 0, 0, 1);
        transform: rotate(0.5turn);
      }

      &__trailler.active {
        transform: rotate(0turn);
      }
    }

    &--trailler {
      &__addbtn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        font-size: font-size(small);
        font-weight: font-weight(bold);

        border: solid 0.2rem black;
        border-radius: 50%;
        width: 4rem;
        aspect-ratio: 1 / 1;
        transition: all 0.25s cubic-bezier(1, 0, 0, 1);
      }

      &__addbtn:hover,
      &__addbtn:active {
        color: white;
        background-color: black;
      }
    }
  }

  &__empty {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--header {
      font-size: font-size(large);
    }

    &--addbtn {
      cursor: pointer;
      color: white;

      border: none;
      padding: 1rem 2rem;
      font-size: font-size(small);
      font-weight: font-weight(light);
      background-color: rgb(255, 110, 110);

      transition: all 0.25s cubic-bezier(1, 0, 0, 1);

      &:hover,
      &:active {
        background-color: red;
        transform: scale(1.025);
      }
    }
  }
}
