@import '../../styles/main-style.scss';

.todo {
  margin: calc(0.5rem + 2vw) calc(1rem + 1vw);
  padding: calc(0.5rem + 2vw) calc(1rem + 2vw);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;

  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  position: relative;

  transition: transform 0.25s cubic-bezier(1, 0, 0, 1);

  &__content {
    display: grid;
    grid-template-columns: min-content 1fr;
    position: relative;

    &--icon {
      font-size: font-size(small);

      width: calc(3rem + 1vw);
      padding-right: 1rem;
      aspect-ratio: 2 / 1;
      display: flex;
      align-items: center;
      justify-content: center;

      border-right: solid 0.2rem rgba(0, 0, 0, 0.5);
    }

    &--title {
      font-size: font-size(small);
      font-weight: font-weight(medium);

      display: flex;
      align-items: center;
      justify-content: start;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      margin-left: 2rem;
    }

    input[type='text'] {
      display: flex;
      align-items: center;
      justify-content: start;

      @extend .todo__content--title;
      background-color: transparent;
      padding: 0 1rem;
      margin-left: 1rem;
      font-weight: font-weight(bold);
      border: none;
    }
  }

  &__trailler {
    display: flex;
    gap: 1rem;

    &--icon {
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 50%;

      transition: all 0.25s cubic-bezier(1, 0, 0, 1);

      &:hover,
      &:active {
        background-color: white;
      }
    }
  }

  @include media-tablet {
    margin: 1rem 2rem;
    padding: 2rem 3rem;
  }
}
