@import '../../styles/main-style.scss';

div.wrapper {
  position: relative;

  div.selector {
    width: 5rem;
    aspect-ratio: 1 / 1;
    border-radius: 0.5rem;
    border: 2px solid rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    p.icon {
      display: block;
      font-size: font-size(small);
    }
  }

  div.options {
    padding: 1rem 2rem;
    border: 2px solid rgba(0, 0, 0, 0.5);
    width: 15rem;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    z-index: 3;
    position: absolute;
    top: 6rem;
    left: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);

    p.icon {
      cursor: pointer;
      display: block;
      font-size: font-size(small);
    }
  }
}
