.header {
  grid-column: container-start / container-end;

  &__contents {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--title {
      font-size: 2.5rem;
    }

    &--about {
      display: flex;
      align-items: center;
      justify-content: center;

      &__link {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 3.5rem;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        border: solid 0.2rem rgba(0, 0, 0, 0.6);
        color: black;

        transition: all 0.25s cubic-bezier(1, 0, 0, 1);

        &:hover,
        &:active {
          background-color: rgba(0, 0, 0, 1);
          color: white;
        }

        &--para {
          display: block;
          font-size: 1.5rem;
          font-weight: font-weight(bold);
        }
      }
    }
  }
}
