.header {
  grid-column: container-start / container-end;

  &__contents {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--about {
      display: flex;
      align-items: center;
      justify-content: center;

      &__link {
        padding: 0.25rem 1rem;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0.25rem;
        border: solid 0.2rem rgba(0, 0, 0, 1);

        transition: all 0.25s cubic-bezier(1, 0, 0, 1);

        &:hover,
        &:active {
          background-color: rgba(0, 0, 0, 1);
        }
      }
    }
  }
}
